* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-family: "Arial", sans-serif;
	margin: 2.5% 5%;
}

h1 {
	font-family: "Georgia", serif;
}

#bio {
	background: #d3d3d3;
	margin: 2.5%;
	padding: 1% 2.5%;
}

footer {
	background: #d3d3d3;
	margin: 2.5%;
	padding: 1% 2.5%;
}

@media (max-width: 650px) {
	#scott, #bio {
		width: 100%;
		margin: 0;
	}
}
